
.banner {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  background-color: #f3d4ff;
}

.name {
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

h1.title {
  font-family: "Lato";
  text-align: center;
  font-size: 5rem;
  font-weight: 300;
  margin: 5px;
}

h3.title {
  font-family: "Lato";
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  margin: 5px;
}

h4.about {
  font-family: "Lato";
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 2.5rem;
}

h5.about {
  font-family: "Lato";
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;
}

p.about {
  font-family: "Source Sans Pro";
  text-align: center;
  font-size: 1rem;
}

img.profile {
  border-radius: 2rem;
  border: 2px solid black;
  height: auto;
  width: 14rem;
  margin: 1rem;
}
