
.banner {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  background-color: #E378F1;
}

.name {
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

h1.title {
  font-family: "Lato";
  text-align: center;
  font-size: 5rem;
  font-weight: 300;
  margin: 5px;
}

h3.subtitle {
  font-family: "Lato";
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  margin: 5px;
}

img.profile {
  border-radius: 2rem;
  border: 2px solid black;
  height: 15rem;
  width: auto;
  margin: 1rem;
}
