
body.index {
  background-color: #212F3C;
}

h1.title {
  font-family: "Lato";
  text-align: center;
  background-color: purple; /* Change this to an image and eventually and animated image */
  color: white;
}
