.header {
  background-color: #111;
  height: 80px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 10;

  .home,
  .tabs {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-style: normal;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }

  .home {
    margin-right: 32px;
    margin-left: 32px;
    font-size: 48px;
  }

  .tabs {
    margin-right: 48px;
    font-family: "Lato", sans-serif;
    font-size: 32px;
    line-height: 38px;
  }

  .filler {
    margin: auto;
  }

  a {
    position: relative;
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: white;
  }

  a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }

  a:hover::before {
    transform: scaleX(1);
  }
}
