:root {
  --max-width: 1000px;

  --background-start: rgba(255, 155, 80, 1);
  --background-end: rgb(255, 230, 200);
  --gradient-angle: 135deg;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overscroll-behavior: none;
}

html {
  background: linear-gradient(
    var(--gradient-angle),
    var(--background-start) 0%,
    var(--background-end) 100%
  );
}

a {
  color: inherit;
  text-decoration: none;
}
