body {
  background-color: #282c34;
  font-family: "Lato";
}

.App {
  text-align: center;
}

.App-logo {
  max-width: 40vw;
  max-height: 200px;
  border: 4px solid purple;
  border-radius: 2rem;
  pointer-events: none;
  opacity: 0;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1.title {
  text-align: center;
  font-size: 5.5rem;
  font-weight: 300;
  margin: 5px;
  opacity: 0;
}

h3.title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 100;
  margin: 5px;
  opacity: 0;
}

h4.portfolio {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem;
  opacity: 0;
  text-decoration: underline;
}

a.portfolio:link, a.portfolio:visited {
  text-decoration: underline;
  color: white
}

a.portfolio:hover, a.portfolio:active {
  color: purple;
}

a.url:link, a.url:visited {
  text-decoration: underline;
  color: black
}

a.url:hover, a.url:active {
  color: #ea00ff;
}

a.url {
  margin: 1rem;
}

.flex-center-wrap-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h3.label {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 120;
  margin: 5px;
  opacity: 0;
}

p.about {
  text-align: left;
  font-size: 1.5rem;
  width: 70vw;
  margin: auto;
  opacity: 0;
}

.sub-container {
  width: 70vw;
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

h5.skill-title {
  font-size: 1.75rem;
  font-weight: bold;
  width: 70vw;
  text-align: left;
  margin: 1.5rem;
  opacity: 0;
}

p.skill {
  text-align: center;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  opacity: 0;
  color: black;
  padding: 1rem;
  border-radius: 1rem;
}

h4.contact {
  font-size: 1.75rem;
  font-weight: normal;
  margin: 0.5rem;
  opacity: 0;
}

h5.experience-title {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: left;
  width: 70%;
  margin: 1rem;
  color: black;
}

h5.experience-year {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: left;
  margin: 1rem;
  color: black;
}

h5:last-of-type {
  margin-left: auto;
}

.title-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.experience-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

p.experience {
  text-align: left;
  font-size: 1.5rem;
  margin: 0;
  color: black;
}

h5.project {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: left;
  margin: 1rem;
  color: black;
}

.App-link {
  color: #61dafb;
}
