body {
  background-color: white;
  font-family: "Lato";
}

.Title {
  height: 40rem;
  background-color: blue;
}

.Title-Text {
  font-size: calc(1rem + max(4vh, 4vw));
  text-align: center;
}

.Title-Bold {
  font-weight: bolder;
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.Typing {
  font-weight: normal;
  opacity: 1;
  -webkit-animation: blink 1s infinite;
  -moz-animation:    blink 1s infinite;
  -o-animation:      blink 1s infinite;
  animation:         blink 1s infinite;
}

.Icon {
  color: white;
  font-size: calc(2rem + max(4vh, 4vw));
  background-color: black;
  padding: 0.5rem;
}

.Left {
  border-radius: 0.5rem 0 0 0.5rem;
}

.Right {
  border-radius: 0 0.5rem 0.5rem 0;
}
